.about{

    background-image: url('../../images/Violet_top_left_wave.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 0px;
    background-position-y: 300px;
    margin-top: -24rem;

    .about__info{
         
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content:center;

        span{
            color: $c-purple;
            font-size: $t-md;
            font-weight: $f-semibold;
            margin-bottom: $s-2;
        }

        h1{
            font-weight: $f-bold;
            font-size: $t-2xl;
        }
    }

}