.team{
    
    background-color: #dcd1f3;
    background-image: url(../../images/Wave_White_bottom_right_shape_01.png);
    background-position-y: 328px;
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: $s-8;
    .team__content{

        .team__img{
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        &:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
        transition: all 0.3s linear;
             
        }

        img:hover{
           transform:scale(1.2,1.2);
           transition: 2s ease all;
        }

        border-radius: $bd-1;
        overflow: hidden;
        border: none;

        span{
            margin-top: $s-7;
            font-size: $t-2xs;
            color: $c-purple;
            font-weight: $f-semibold;
        }

        h1{
            margin-top: $s-2;
            font-size: $t-lg;
            font-weight: $f-bold;
        }

        p{
            font-size: $t-sm;
            font-family: 'Roboto', sans-serif;
            padding: $s-2 $s-6;
            margin-bottom: $s-9;
        }
    }
}

@media screen and (max-width:576px){

    .team__list{
        margin-top: 0;
        flex-direction: column;
        .team__item{
            width: 100%;
            display: block;
            margin-top: $s-4;
            margin-bottom: $s-4;
        }
    }

    .team{
        background-color: $c-lightpurple;
    }

}