// colors array

$c-purple: #b61984;
$c-black: #000000;
$c-white: #ffffff;
$c-lightpurple: #DCD1F3;


// font-size
$t-2xs: 0.703125rem;
$t-xs: 0.8125rem;
$t-sm: 0.9375rem;
$t-md: 1.03125rem;
$t-lg: 1.453125rem;
$t-xl: 2.34375rem;
$t-2xl: 3.5625rem;

// font-weight
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

// spacing:
$s-1: 0.25rem;
$s-2: 0.5rem;
$s-3: 0.75rem;
$s-4: 1rem;
$s-5: 1.25rem;
$s-6: 1.5rem;
$s7: 1.75rem;
$s-8: 2rem;
$s-9: 3rem;
$s-10: 4rem;
$s-11: 5rem;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//border
$bd-1: 0.625rem;
$bd-2: 2rem;