// colors array

$colors: (
    "purple": #b61984,
    "black": #000000,
    "white": #ffffff,
    "light-purple":#DCD1F3,  
);

// font-size
$text-2xs: 0.703125;
$text-xs: 0.8125rem;
$text-sm: 0.9375rem;
$text-md: 1.03125rem;
$text-lg: 1.453125rem;
$text-xl: 2.34375rem;
$text-2xl: 3.5625rem;

// font-weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// spacing:
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 3rem;
$spacing-10: 4rem;
$spacing-11: 5rem;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

